<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>ray</title>
    <style>
      .heading {
        font-size: 1.5em;
        font-weight: bold
      }
      input { 
        text-align: right; 
      }
    </style>
    <script>
      'use strict';
      function updateItemDisplay(selectId, divId, expected) {
        var select = document.getElementById(selectId);
        var div = document.getElementById(divId);
        var visible = select.options[select.selectedIndex].value === expected;
        div.style.display = visible ? 'inline' : 'none';
      }

      function updateCoordinates(item) {
        var path = document.getElementById(item + '_path').value.trim();
        var isClosed = path.endsWith('z') || path.endsWith('Z');
        var element = document.createElementNS("http://www.w3.org/2000/svg", "path");
        element.setAttribute('d', path);
        var length = element.getTotalLength();

        function clamp(percentage) {
          if (isClosed) {
            percentage = percentage % 100;
            if (percentage < 0)
              percentage += 100;
          } else {
            if (percentage < 0)
              percentage = 0;
            else if (percentage > 100)
              percentage = 100;
          }
          return percentage;
        }

        function locate(percentage) {
          // https://drafts.fxtf.org/motion-1/#calculating-the-computed-distance-along-a-path
          var distance = length * clamp(percentage) / 100;
          return element.getPointAtLength(distance);
        }

        var epsilon = 0.001;
        var percentage = clamp(parseFloat(document.getElementById(item + '_distance').value));

        var current = locate(percentage);
        document.getElementById(item + '_path_x').value = current.x;
        document.getElementById(item + '_path_y').value = current.y;

        var next = locate(percentage + epsilon);
        var dx = next.x - current.x;
        var dy = next.y - current.y;
        if (dx === 0 && dy === 0) {
          var previous = locate(percentage - epsilon);
          dx = current.x - previous.x;
          dy = current.y - previous.y;
        }
        document.getElementById(item + '_path_dx').value = dx;
        document.getElementById(item + '_path_dy').value = dy;
      }

      window.onload = function() {
        {% for item in items %}
          {% autoescape false %}
          {{ item.script }}
          {% endautoescape %}
        {% endfor %}
      }
    </script>
  </head>
  <body>
    <form method="post" action="/ray/plot">
      {% for item in items %}
        {% autoescape false %}
        {{ item.specification }}
        {% endautoescape %}
      {% endfor %}
      <input type="submit" value="Plot"></input>
    </form>
  </body>
</html>
{% endautoescape %}
